@use "../utils/variables" as *;

/* Blogs */
.blog-item {
    box-shadow: 0px 1px 1px 0px #0000000D;
    .blog-img-cover {
        position: relative;
        overflow: hidden;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        .badge {
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .blog-img {
            position: relative;
            transition: 0.5s;
        }
        .img-overlay {
            position: absolute;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(182.24deg, rgba(0, 0, 0, 0.75) -7.43%, rgba(0, 0, 0, 0) 45.63%, rgba(0, 0, 0, 0.5) 98.07%);
            transition: opacity 1s ease;
            opacity: 1;
        }
        &:hover {
            .blog-img {
                transform: scale(1.1);
            }
            .img-overlay {
                opacity: 0;
            }
        }
    }
    .blog-content {
        padding: 20px;
        position: relative;
        .avatar.doctor-img {
            border: 1px solid $white;
            position: absolute;
            top: -20px;
            right: 20px;
        }
        .truncate-3-lines {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            text-overflow: ellipsis;
          }
    }
}
/* /Blogs */


/* Blog Details */
.blog-details-cover {
    .blog-details-tags {
        .badge.bg-light {
            color: $gray-900;
        }
    }
    .blog-details-item {
        background: $light;
        border-left: 3px solid $primary;
    }
    .recent-blog-img {
        width: 100px;
        height: 80px;
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
    .blog-carousel {
        position: relative;
        margin: 0 -12px;
        .slick-slide {
            padding: 0 12px;
        }
        .slick-prev.slick-arrow {
            padding: 4px;
            position: absolute;
            top: -33px;
            right: 60px;
            left: unset;
            background: $dark;
            &::before {
                color: $white;
            }
            &:hover {
                background: $white;
                &::before {
                    color: $dark;
                }
            }
        }
        .slick-next.slick-arrow {
            padding: 4px;
            position: absolute;
            top: -33px;
            right: 12px;
            background: $dark;
            &::before {
                color: $white;
            }
            &:hover {
                background: $white;
                &::before {
                    color: $dark;
                }
            }
        }
    }
}
/* /Blog Details */